html {
    background-color: linear-gradient(#5ca1cf, #e764c6;
}

h1 {
 font-style: italic;
}

.picture {
    height: 150px;
    width: auto;
}

.topics {
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px bold grey;
    
}