html {
    background-color: #f39f3f
    ;
}

h1 {
 font-style: italic;
}

img {
    height: 350px;
    width: 550px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.links {
    height: 100px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}